{
  "env": {
    "browser": true,
    "es6": true,
    "webextensions": true
  },
  "extends": [
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "globals": {
    "chrome": true
  }
}
